msgpack-rpc-python==0.4.1
airsim==1.8.1
sionna==0.17.0
nats-python==0.8.0
scikit-learn==1.2.2
nvidia-cudnn-cu11==8.6.0.163
tensorflow==2.13.*
yolo @ git+https://github.com/WongKinYiu/YOLO.git@da4f0bf711ca8c4751f101fb49634abaa10d239d
mitsuba==3.5.0
seaborn==0.12.2
torch
typing-extensions
pycocotools