/* Cor de fundo do topo */
.wy-side-nav-search, .wy-nav-top {
    background-color: #5c324c !important;
    color: #fff !important;
}

/* Cor do menu lateral */
.wy-nav-side {
    background-color: #2e2e2e !important;
    color: #fff !important;
}

.wy-nav-content {
    text-align: justify;
}

/* Evita que títulos fiquem justificados também */
.wy-nav-content h1,
.wy-nav-content h2,
.wy-nav-content h3,
.wy-nav-content h4,
.wy-nav-content h5 {
    text-align: left;
}